@{
    ViewData["Title"] = "Controls";
}
<h1>@ViewData["Title"]</h1>
<ul>
    <li>
        <a asp-area="" asp-controller="Controls" asp-action="TextBox">TextBox</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Controls" asp-action="TextArea">TextArea</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Controls" asp-action="CheckBox">CheckBox</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Controls" asp-action="Radio">Radio</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Controls" asp-action="DropDownList">Drop-down List</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Controls" asp-action="ListBox">List Box</a>
    </li>
</ul>
